<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<script type="text/javascript" src="/socket.io/socket.io.js" charset="utf-8"></script>
	<script type="text/javascript" src="/JS/librerias/JQuery/jquery.js"></script>
	<script type="text/javascript" src="/JS/librerias/bootstrap/bootstrap.js"></script>
	<script type="text/javascript" src="/JS/librerias/sweet-alert/sweetalert2.min.js"></script>
	<script type="text/javascript" src="/JS/librerias/global_functions.js"></script>
	<script type="text/javascript" src="/JS/librerias/sacp.js"></script>
	<script type="text/javascript" src="/JS/contenido/sacp/<%- title_resources %>.js"></script>

	<link rel="stylesheet" type="text/css" href="/CSS/librerias/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/CSS/librerias/sweet-alert/sweetalert2.min.css">
	<link rel="stylesheet" type="text/css" href="/CSS/librerias/fontawesome/styles/all.min.css">
	<link rel="stylesheet" type="text/css" href="/CSS/librerias/global.css">
	<link rel="stylesheet" type="text/css" href="/CSS/librerias/sacp.css">
	<link rel="stylesheet" type="text/css" href="/CSS/contenido/sacp/<%- title_resources %>.css">

	<title>SACP - <%- title_page %></title>
</head>
<body>
	<section id="body" class="body allScreen">

		<aside id="navegador">
			<div class="logo">
				<div class="centerFlex">
					<img src="/IMG/logos/logo__sombreado.png">
				</div>
				<b>HI CONNECTION</b>
				<div class="borde"></div>
			</div>

			<ul class="list">
				<li>
					<a href="/sacp/home"
					<% if(title_resources=='start'){ %>
						 class="list-item selected">
					<% }else{ %>
						class="list-item">
					<% } %>
						<i class="fa fa-home"></i>
						<span class="text">Inicio</span>
					</a>
				</li>
				<li>
					<a href="/sacp/planes"
					<% if(title_resources=='planes'){ %>
						 class="list-item selected">
					<% }else{ %>
						class="list-item">
					<% } %>
						<i class="fa fa-boxes"></i>
						<span class="text">Planes</span>
					</a>
				</li>
			</ul>

			<div class="nav-state">
				<div class="borde"></div>
				<div class="centerFlex">
					<button id="change-nav-state">
						<i class="fa fa-arrow-left"></i>
					</button>
				</div>
			</div>
		</aside>

		<section id="app">
			<header id="cabecera" class="bettwenFlex">
				<div class="bettwenFlex first-header">
					<div class="actual-page-name">
						<i class="fa fa-home"></i>
						<b><%- title_page.toUpperCase() %></b>
					</div>
					<button type="button" id="menu-button" title="Abrir Menú">
						<i class="fa fa-th"></i>
					</button>
				</div>

				<div class="buttons-section bettwenFlex">
					<div class="dropdown relative">
						<button id="notification-button" class="count btn dropdown-toggle centerFlex" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-bell"></i>
						</button>

						<div class="notification-count">2</div>

						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
						</ul>
					</div>

					<div class="dropdown">
						<button id="profile-button" class="btn dropdown-toggle centerFlex" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<div class="circle-content centerFlex">
								NM
							</div>
							<p>MALAVEN</p>
						</button>
						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
							<li>
								<a href="/usuario/" class="dropdown-item">
									<i class="fa fa-user"></i>
									Mi Perfil
								</a>
							</li>
							<li>
								<button type="button" id="open_change_password" class="dropdown-item">
									<i class="fa fa-unlock-alt"></i>
									Cambiar contraseña
								</button>
							</li>

							<li><hr class="dropdown-divider"></li>
							
							<li>
								<a class="dropdown-item" href="/close/">
									<i class="fa fa-sign-out-alt"></i>
									Cerrar Sesión
								</a>
							</li>
						</ul>
					</div>
				</div>
			</header>

			<div id="second-loader" class="second-loader allScreen">
				<section class="centerFlex">
					<div id="bars">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</section>
			</div>

			<section id="cuerpo">
				<!-- Inclusión del cuerpo del documento ------------------------------------------------------------------------------------------>
				<%- include("../../content/sacp/"+title_resources+'', { data }) %>
				<!-- ----------------------------------------- ----------------------------------------------------------------------------------->
			</section>
		</section>
	</section>

	<section id="notification-section" class="allScreen">
	</section>
</body>
</html>